<mat-card>
  <mat-card-header>
    <mat-card-title>{{ movie.name }}</mat-card-title>
    <mat-card-subtitle
      >{{ movie.year }} - Score: {{ movie.score }}</mat-card-subtitle
    >
  </mat-card-header>
  <img mat-card-image [src]="movie.thumbnail" alt="{{ movie.name }}" />
  <mat-card-content>
    <p>{{ movie.studio }}</p>
    <mat-chip-set>
      <mat-chip *ngFor="let genre of genreList">{{ genre }}</mat-chip>
    </mat-chip-set>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="goToDetails()">Mas Info</button>
  </mat-card-actions>
</mat-card>
