.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Cambiado de 200px a 300px */
  gap: 16px;
  padding: 16px;
}

mat-card {
  margin: 16px;
  width: 100%; /* Asegura que las tarjetas ocupen el ancho completo del contenedor */
}
mat-card img {
  max-height: 400px;
  object-fit: cover;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}